---
import style from './style.module.css';
const navItems = [
	{ path: '/', name: 'Home' },
	{ path: '/about/', name: 'About' },
	{ path: '/blog/', name: 'Blog' },
];
---

{
	navItems.map((item) => (
		<a class={style.link} href={item.path}>
			{item.name}
		</a>
	))
}
