.link {
	color: var(--indigo-8);
	font-size: var(--font-size-0);
	text-transform: uppercase;
	letter-spacing: var(--font-letterspacing-3);
	font-weight: var(--font-weight-8);
	transition: all 0.3s;
}
.link:where(:hover, :active) {
	color: var(--indigo-5);
}
